<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Change Password Form</title>
</head>
<body>
	<section class="signup_bg">
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                
                    <div id="login-box" style="height: 230px;" class="col-md-12">
                       <h3 class="text-center my-3">Change Password</h1>
                       
                       <form id="login-form" class="form" th:action="@{/change-password}" method="post">
                       	<div class="form-group">
                       		<input required name="newpassword" type="password" placeholder="Enter your new password here" class="form-control">
                       	</div>
                       	<div class="container text-center mt-3">
                       		<button class="btn btn-primary">Change</button>
                       	</div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>	
</body>	
</html>